<main>
  <h2 class="mb-4">会員一覧</h2>


  <div class="d-flex justify-content-between w-100">
    <table class="table w-60">
      <thead>
        <th>会員ID</th>
        <th>氏名</th>
        <th>メールアドレス</th>
        <th>ステータス</th>
      </thead>
      <tbody>
        <% @customers.each do |customer| %>
        <tr>
          <th><%=customer.id %></th>

          <th>
            <%= link_to admin_customer_path(customer) do %>
            <%=customer.last_name+customer.first_name %>
            <% end %>
          </th>

          <th><%=customer.email %></th>

          <th>
            <% if customer.is_deleted == false %>
             <p class="text-success">有効</p>
            <% else customer.is_deleted == true %>
             <p class="text-secondary">退会</p>
            <% end %>
          </th>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>

</main>
