<main>
  <h2>会員一覧</h2>

  <% @customers.each do |customer| %>

  <p>会員ID</p>
  <%=customer.id %>

  <p>氏名</p>
  <%= link_to admin_customer_path(customer) do %>
  <%=customer.last_name+customer.first_name %>
  <% end %>

  <p>メールアドレス</p>
  <%=customer.email %>

  <p>ステータス</p>
    <% if customer.is_deleted == false %>
       有効
    <% else customer.is_deleted == true %>
       退会
    <% end %>

  <% end %>



</main>
