<main>
  <h2>注文履歴一覧</h2>

  <% @orders.each do |order| %>

  <p>購入日時</p>
  <%=order.created_at %>

  <p>購入者</p>
  <%=order.customer_id %>

  <p>注文個数</p>
  <%=order.amount %>

  <p>注文ステータス</p>
  <%=order.making_status %>

  <% end %>
</main>